<p>We heard that you lost your Mgame password. Sorry about that!</p>
<br/>
<p>Don’t worry! You can use the following link to reset your password:</p>
<p><a href="<%=URL%>">Click here to change password</a></p>
<p>As a friendly reminder, your account details are:</p>
<p>Name: <%=Name%></p>
<p>Email: <%=Email%></p>
<p>NewPassword: <%=NewPassword%></p>
<p>If you don’t use this link within 5 minutes, it will expire.</p>
<br/>
<p>Thanks,</p>
<p>Your friends at Gmusic</p>