/*
    DEMO STYLE
*/

@import "typeface-roboto";
body {
    font-family: 'Roboto', sans-serif !important;
}

a,
a:hover,
a:focus {
    color: inherit !important;
    text-decoration: none !important;
    transition: all 0.3s !important;
}