<p>Hi <%=Name%>,</p>
<br />
<p>Thanks for signing up to Mgame. Before we can continue, we need to validate your email address.</p>
<h1>Your acctive code: <%=OTP%></h1>
<p>OTP code will valid within only 5 minutes. Redeem code on your app to activate account.</p>
<br />
<p>As a friendly reminder, your account details are:</p>
<p>Name: <%=Name%></p>
<p>Email: <%=Email%></p>
<br />
<p>Thank you for signup.</p>
<hr/>
<p>You are receiving this email because you are a registered user on www.mgame.vn</p>