.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.Login-main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    max-width: fit-content;
}

.Login-main-form {
    display: flex;
    flex-direction: column;
    /* border: 1px solid gray;
    border-radius: 2%; */
    padding: 30px;
}